html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("img/bg.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)),
      url("img/bg.jpg") center / cover no-repeat;
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: 500;
}


.room-card {
  background: rgba(40, 40, 40, 0.45); /* полупрозрачный */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;
}

.room-card:hover {
  background: rgba(60, 60, 60, 0.9);
  transform: scale(0.99)
}



