<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room connection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/FinalProject/static/style_room_connection.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <a class="nav-link" href="/" role="button">
                  Menu
                </a>
            </ul>
          </div>
        </div>
</nav>


<body>


<h2 class="text-center text-white my-4">
  Available Servers
</h2>
{{ $me := .Username }}
{{ range .Rooms }}
    <div class="card room-card mb-3" style="background-color: black;">
      <a href="/room/{{ .ID }}" class="text-decoration-none d-block">
        <div class="card-body d-flex align-items-center">
          <p class="card-text text-white mb-0">Room: </p>
          <p class="card-text text-white mb-0">{{ .Owner }}</p>
          <span class="user-count text-white ms-auto">
            <span class="current-users" data-room-id="{{ .ID }}">0</span>/<span class="max-users">inf</span>
          </span>
        </div>
      </a>
        

      {{ if eq .Owner $me }}
      <form action="/delete-room/{{ .ID }}" method="post" class="d-flex justify-content-center m-2">
          <button type="submit" class="btn btn-danger px-3 py-1">
              Delete Room
          </button>
        </form>
      {{ end }}
    </div>
{{ end }}

<div id="server-list" class="container my-4">
</div>

<script>
  async function updateCounts() {
    try {
      const res = await fetch("/rooms-stats");
      const data = await res.json();

      for (const [roomId, count] of Object.entries(data.rooms)) {
        const el = document.querySelector(`.current-users[data-room-id="${roomId}"]`);
        if (el) el.textContent = count;
      }
    } catch (e) {
      console.log("rooms-stats error:", e);
    }
  }

  updateCounts();
  setInterval(updateCounts, 1000);
</script>


</body>
</html>
