html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("img/bg.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)),
      url("img/bg.jpg") center / cover no-repeat;
}


.navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: 500;
}

.user-profile {
    gap: 10px;
}

.avatar-link {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

/* Затемнение */
.avatar-link::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Наведение — только затемнение */
.avatar-link:hover::after {
    opacity: 1;
}



/* Аватар */
.user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
}

/* Отступ от navbar */
.user-profile-wrapper {
    margin-top: 40px;
    padding-left: 20px;
}

/* Контейнер */
.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Аватар */
.user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;

    border: 3px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);

    pointer-events: none;   /* полностью некликабельный */
}

/* Имя */
.user-name {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;

    user-select: none;
    pointer-events: none;   /* тоже некликабельное */
}

#exampleInputEmail1 {
    background-color: #2c2c2c;  /* темно-серый фон */
    color: #ffffff;             /* белый текст */
    border: 1px solid #555;     /* рамка можно сделать подходящего цвета */
}

#exampleInputPassword1 {
    background-color: #2c2c2c;  /* темно-серый фон */
    color: #ffffff;             /* белый текст */
    border: 1px solid #555;     /* рамка можно сделать подходящего цвета */
}

#exampleFormControlTextarea1 {
    background-color: #2c2c2c;  /* темно-серый фон */
    color: #ffffff;             /* белый текст */
    border: 1px solid #555;     /* рамка можно сделать подходящего цвета */
}


#exampleInputNickname1 {
    background-color: #2c2c2c;  /* темно-серый фон */
    color: #ffffff;             /* белый текст */
    border: 1px solid #555;     /* рамка можно сделать подходящего цвета */
}