html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("img/bg.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background:
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url("img/bg.jpg") center / cover no-repeat;
}

.card {
    height: 250px;               /* можно увеличить */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


/* Темное затемнение */
.card-hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Наведение */
.card:hover {
    transform: scale(1.05);
}

/* Ссылки */
.card-link {
    text-decoration: none;
}

/* Центрируем текст */
.card-body h2 {
    font-size: 2rem;
    font-weight: bold;
}


.navbar-nav .nav-link {
    font-size: 1.4rem; /* увеличиваем размер текста (по вкусу можно 1.3, 1.4) */
    font-weight: 500;  /* чуть жирнее, чтобы выглядело лучше */
}

.dropdown-menu .dropdown-item {
    font-size: 1.2rem; /* размер текста в пунктах меню */
}